@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 2rem;
  text-align: center;
} 